02variables/go.mod

03userinput/go.mod
04conversion/go.mod
05handling_time/go.mod
06pointer/go.mod
07array/go.mod
08slice/go.mod
09map/go.mod
10struct/go.mod
11controller/go.mod
13switchcase/go.mod
14loops/go.mod
15function/go.mod
16methods/go.mod
17defer/go.mod
18file/go.mod
19webrequests/go.mod
Feb/go.mod
url/go.mod

21fronted/node_modules