go 1.22.0

use (
	./02variables
	./05handling_time
	./23MOD
	./25mongofunction
	./27mutexAndAwaitGroups
	./Projects/BookstoreManagement
	./Projects/age-bot
	./Projects/buildAPI
	./Projects/static
	./Projects/todo/server
)
